<!DOCTYPE html>
<% include ../partials/header %>


<form action="/login" method="post">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">

    <button>login</button>
</form>

<a href="/register">register</a>
<a href="/auth/facebook">login with fb</a>
<script src="/javascripts/index.js"></script>


<% include ../partials/footer %>