<section id="footer" class="mt-5">
    <div>
        <div class="pt-5 container-fluid">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3 mx-auto my-auto">
                    <img class="img-fluid" src="/images/cool.png" alt="cool">
                </div>
                <div class="col-12 col-md-5 col-lg-4 mx-auto mt-lg-0">
                    <div>
                        <h3>Committed to giving you the best</h3>
                    </div>
                    <div>
                        <p class="text-justify">
                            Event is a proud member of the Owerri and Portharcourt community. We strive to educate
                            individuals on the todos while planning any event, thereby contributing to the society in
                            our
                            own little way.
                        </p>
                        <p>
                            <a href="#">more about event-crm >>></a>
                        </p>
                        <p>
                            <h5 class="text-white">keep up with us on social media</h5>
                            <div class="row pt-3">
                                <div class="col-3">
                                    <a href="#"  rel="noopener noreferrer" target="_blank"><i class="fab fa-facebook-f fa-3x fb"></i></a>
                                </div>
                                <div class="col-3">
                                    <a href="#"  rel="noopener noreferrer" target="_blank"><i class="fab fa-twitter fa-3x tw"></i></a>
                                </div>
                                <div class="col-3">
                                    <a href="#"  rel="noopener noreferrer" target="_blank"><i class="fab fa-linkedin-in fa-3x ln"></i></a>
                                </div>
                                <div class="col-3">
                                    <a href="#"  rel="noopener noreferrer" target="_blank"><i class="fab fa-instagram fa-3x it"></i></a>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-12 d-none d-lg-block col-md-1"></div>
                <div class="col-1 d-md-none"></div>
                <div class="col-5 d-inline d-md-none d-lg-block col-md-3 col-lg-2">
                    <h4 class="logo">
                        e
                    </h4>
                </div>
                <div class="col-5 col-md-3 col-lg-2">
                    <div class="footer-full-width">
                        <div class="footer-inner navigate">
                            <h3>Navigate</h3>
                        </div>
                        <div class="footer-inner">
                            <p>
                                <ul>
                                    <li class="mb-2">
                                        <a class="mx-auto" href="/blog">blog >>></a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="/event">event >>></a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="/contact">contact >>></a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="/about">about >>></a>
                                    </li>
                                    <li>
                                        <a href="#">support >>></a>
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="footer2" class="mt-0 pt-0 mb-0 container-fluid">
    <p class="text-center text-white mt-3">
        <span class="text-white">event-crm services * </span>Support(thechiefje@gmail.com) *
        Phone(+2348130813007)(+2348140005666)
    </p>
    <div
        class="container d-flex flex-column flex-md-row justify-content-md-around justify-content-center align-items-center">
        <div>
            <p><a href="#">privacy policy</a></p>
        </div>
        <div>
            <p><a href="#">disclaimer</a></p>
        </div>
        <div>
            <p>&copy; 2019 Event services</p>
        </div>
    </div>
</div>
<div id="footer3" class="pt-0">
    <div class="container">
        <div class="input-group">
            <div
                class="d-flex flex-column flex-lg-row justify-content-lg-center align-items-lg-center justify-content-center align-items-center">
                <div class="ker">
                    <h6 class="text-dark pt-3 text-center">JOIN OVER 16,000 PEOPLE WHO RECEIVE BI-WEEKLY EVENT PLANNING
                        TIPS</h6>
                    <div class="text-center"><small>by signing up you are agreeing to our <a href="#">Privacy
                                Policy</a></small></div>
                </div>
                <div>
                    <form action="/email-signup" method="post" class="pt-3 pl-lg-5">
                        <div class="input-group input-full-width mb-3">
                            <input type="email" name="email" class="form-control input-full-width" placeholder="your email"
                                aria-label="email address" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="input-group-text" id="basic-addon2">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.js"></script>
<script src="/javascripts/index.js"></script>

</body>

</html>