<% include ./partials/header %>

<!-- HOME SECTION -->
<section id="home">
    <div id="home-cover" class="bg-parallax animated fadeIn">
        <div id="home-content-box">
            <div id="home-content-box-inner" class="text-center">
                <div id="home-heading" class="animated zoomIn">
                    <h3 class="shadow-sm">planning events can be easier!</h3>
                </div>
                <div id="home-btn" class="animated zoomIn">
                    <a class="btn btn-lg btn-general btn-white" href="#work" role="button" title="View Our Work">see
                        events</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="content-box">
        <div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
            <h3>our services</h3>
            <div class="content-title-underline"></div>
        </div>
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-item-icon">
                            <i class="far fa-calendar-alt fa-2x"></i>
                        </div>
                        <div class="service-item-title">
                            <h3> event planning </h3>
                        </div>
                        <div class="service-item-desc">
                            <p>tell us what you want and watch the magic</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-item-icon">
                            <i class="fas fa-blog fa-2x"></i>
                        </div>
                        <div class="service-item-title">
                            <h3> free space </h3>
                        </div>
                        <div class="service-item-desc">
                            <p>you can post upcoming events anytime</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-item-icon">
                            <i class="fas fa-ad fa-2x"></i>
                        </div>
                        <div class="service-item-title">
                            <h3> great ads </h3>
                        </div>
                        <div class="service-item-desc">
                            <p>contact us to book a space in the website</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-item-icon">
                            <i class="fas fa-search fa-2x"></i>
                        </div>
                        <div class="service-item-title">
                            <h3> seo optimization </h3>
                        </div>
                        <div class="service-item-desc">
                            <p>well optimized for online search</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-item-icon">
                            <i class="fas fa-edit fa-2x"></i>
                        </div>
                        <div class="service-item-title">
                            <h3> banner design </h3>
                        </div>
                        <div class="service-item-desc">
                            <p>best ui designs just for you</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-item-icon">
                            <i class="fas fa-life-ring fa-2x"></i>
                        </div>
                        <div class="service-item-title">
                            <h3> ticket support </h3>
                        </div>
                        <div class="service-item-desc">
                            <p>sell your tickets online like a boss</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABOUT SECTION -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div id="about-content-box">
                    <div id="about-content-box-outer">
                        <div id="about-content-box-inner">
                            <div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                                <h3>about event-crm</h3>
                                <div class="content-title-underline"></div>
                            </div>
                            <div id="about-desc" class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                                <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro asperiores officiis
                                    dicta sint quidem dignissimos autem reprehenderit fugit aspernatur modi iste fugit
                                    aspernatur modi iste.</p>
                            </div>
                            <div id="about-btn" class="wow animated fadeInUp" data-wow-duration="1s"
                                data-wow-delay=".5s">
                                <a class="btn btn-lg btn-general btn-blue" href="#work" role="button"
                                    title="Our Work">see more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div id="about-bg-diagonal" class="bg-parallax">

                </div>
            </div>
        </div>
    </div>
</section>

<% include ./partials/footer %>