<form action="/event/<%=event.id%>/ticket/<%=ticket.id%>" method="post">
    <input type="text" name="full_name" placeholder="name">
    <label>Regular</label>
    <input type="radio" name="amount" value="<%=ticket.regularAmount%>">
    <label>Regular</label>
    <input type="radio" name="amount" value="<%=ticket.coupleAmount%>">
</form>