<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>admin</title>
</head>

<body>
    <div class="se-pre-con"></div>

    <form action="/admin/blog" method="post">
        <div>
            <label for="">title</label>
            <input type="text" name="title">
        </div>
        <div>
            <label for="">description</label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label for="">image</label>
            <input type="text" name="image">
        </div>
        <button>post</button>
    </form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>    
    <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
    <script src="/javascripts/index.js"></script>

</body>

</html>